.logo {
	background-image: url(../images/logo.png);
	display: block;
	width: 600px;
	height: 150px;
	left: 1%;
	background-repeat: no-repeat;
}

.stylish-input-group .input-group-addon {
	background: white !important;
}
.stylish-input-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}
.stylish-input-group button {
	border: 0;
	background: transparent;
}
.btn-upload-homepage {
	margin: 10px 0 10px;
}
.btn-view-more {
	margin: 20px 0 10px;
}
.carousel-caption-homepage {
	position: absolute;
	right: 15%;
	left: 15%;
	z-index: 10;
	top: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.homepage-header {
	padding-bottom: 3%;
}
#imaginary_container {
	padding-bottom: 3%;
}
/* MARKETING CONTENT
 -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}
a.btn.btn-primary.btn-lg.see-button.hvr-shutter-out-horizontal {
	background: #3F3C35;
}
.animated-grids {
<<<<<<< HEAD
  margin-bottom: 7em;
}
/*video page, icons*/
.wrapper{
	position:relative;
	margin-top:120px;
}
.navbar-video{
	position:relative;
	margin: auto;
	background-color: #FFFFFF;
	top:0;
	width:90%;
	height:70px;
	border-top: 1px solid #e6e6fa;
}
.navbar-video a{
	float:right;
	margin-right: 30px;
	margin-top: 25px;
}
@media all and (max-width:599px) and (min-width:320px){
	.navbar-video a{
	float:right;
	margin-right: 10px;
	margin-top: 25px;
}	
}
#user-name a{
	float:left;
	color:#3F3C35;
	font-size:20px;
	font-style: italic;
	font-weight:lighter;
}
@media all and (max-width:599px) and (min-width:320px){
	#user-name a{
		float:left;
		margin-left:3px;
		color:#3F3C35;
		font-size:13px;
		font-style:italic;
		font-weight:inherit;
	}
}
#avatar a{
	float:left;
	margin-left:10px;
	margin-top:6px;
}
@media all and (max-width:599px) and (min-width:320px){
	#avatar a{
		float:left;
		margin-left:0px;
		margin-top:6px;
	}
}
.responsive-video {
position: relative;
padding-bottom: 56.25%;
top:2px;
padding-top:25px; 
height:0;
}
.responsive-video iframe {
position:absolute;
top:2px;
left:0;
width: 100%;
height:90%;
}
=========================

#mapDiv{ 
float:left;
left:0px;
}

#info-wrapper{ /*more info...*/
	position:relative;
	float:left;
	left:0;
	color:#3399FF;
	width:300px;
	margin-right:100px;
	padding:20px;
}
#info-wrapper label{
	font-size:20px;
	font-weight:lighter;
	}
#info-wrapper span{
	font-size:25px;
	font-weight:bold;
	}
@media all and (max-width:599px) and (min-width:320px)
{
	#info-wrapper label{
	font-size:10px;
	font-weight:lighter;
	}
	#info-wrapper span{
	font-size: 15px;
	font-weight:bold;
	}
}

=======
	margin-bottom: 7em;
}
.thumb{
    width: 390px;
    height: 292px;
        display: inline-block;
}
.clip-link{
    position: absolute;
    _position: static;
    bottom: -100px;
    top: -100px;
    left: -100px;
    right: -100px;
    text-align: center;
    white-space: nowrap;
    word-break: normal;
}
>>>>>>> 7b010bac9bd56615215a31195a4b2e1393a3487b
