.logo {
	background-image: url(../images/logo.png);
	display: block;
	width: 600px;
	height: 150px;
	left: 1%;
	background-repeat: no-repeat;
}

.stylish-input-group .input-group-addon {
	background: white !important;
}
.stylish-input-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}
.stylish-input-group button {
	border: 0;
	background: transparent;
}
.btn-upload-homepage {
	margin: 10px 0 10px;
}
.carousel-caption-homepage {
	position: absolute;
	right: 15%;
	left: 15%;
	z-index: 10;
	top: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.homepage-header {
	padding-bottom: 3%;
}
#imaginary_container {
	padding-bottom: 3%;
}
/* MARKETING CONTENT
 -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}
.marketing h2 {
	font-weight: normal;
}
.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}

#map {
	width: 500px;
	height: 400px;
}
a.btn.btn-primary.btn-lg.see-button.hvr-shutter-out-horizontal {
    background: #3F3C35;
}
.animated-grids {
  margin-bottom: 7em;
}